{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>TodoForm</title>

<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock head %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
    <input type="submit" onclick="window.location='{% url 'todo:mytodo' %}' ; return false;" value="Cancel">
</form>
{% endblock content %}
